.block_ {
    display: block;
    font-size: 40pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 42.5pt 0;
    padding: 0
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 42.5pt 0;
    padding: 0
    }
.block_2 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_3 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_4 {
    display: block;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_5 {
    display: block;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    text-decoration: underline;
    margin: 0 0 7pt;
    padding: 0
    }
.block_6 {
    color: #020000;
    display: block;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_7 {
    display: block;
    font-size: 28pt;
    line-height: 1.2;
    text-align: center;
    margin: 28.4pt 0 42.5pt;
    padding: 0
    }
.block_8 {
    display: block;
    font-size: 14pt;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: always;
    text-align: center;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_9 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_10 {
    display: block;
    font-size: 14pt;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_11 {
    display: block;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 42.5pt 0;
    padding: 0
    }
.block_12 {
    display: block;
    line-height: 1.2;
    margin: 0 0 10pt;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_14 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    text-align: justify;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.block_15 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.block_16 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_17 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_18 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_19 {
    display: block;
    font-size: 10pt;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_20 {
    display: block;
    font-size: 10pt;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_21 {
    display: block;
    font-size: 10pt;
    font-style: italic;
    line-height: 1.2;
    page-break-before: always;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_22 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    margin: 0 0 10pt;
    padding: 0
    }
.block_23 {
    display: block;
    font-size: 10.5pt;
    line-height: 1.2;
    text-align: center;
    margin: 6pt 0;
    padding: 0
    }
.block_24 {
    display: list-item;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.3;
    margin-bottom: 3.2pt;
    margin-left: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_25 {
    display: block;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.3;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 12pt 0 3.2pt;
    padding: 0
    }
.block_26 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.block_27 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0 0 10pt;
    padding: 0
    }
.block_28 {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0 0 10pt;
    padding: 0
    }
.block_29 {
    display: block;
    font-size: 10pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 12.8pt 11.4pt 9.9pt 14.2pt;
    padding: 0
    }
.block_30 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    margin: 0 0 7pt;
    padding: 0
    }
.block_31 {
    display: block;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 12pt 0 3.2pt;
    padding: 0
    }
.block_32 {
    display: list-item;
    font-size: 18pt;
    line-height: 1.55;
    margin-bottom: 14.5pt;
    margin-left: 0;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_33 {
    display: block;
    font-size: 18pt;
    font-weight: normal;
    line-height: 1.55;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 14pt 0 14.5pt;
    padding: 0
    }
.block_34 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1.55;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 14pt 0 14.5pt;
    padding: 0
    }
.block_35 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0 0 10pt;
    padding: 0
    }
.block_36 {
    display: block;
    font-size: 11pt;
    line-height: 1.2;
    text-align: center;
    margin: 15.6pt 0;
    padding: 0
    }
.block_37 {
    display: block;
    font-size: 14pt;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 4.25pt 0 28.4pt;
    padding: 0
    }
.block_38 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 0 0 10pt;
    padding: 0
    }
.block_39 {
    display: block;
    font-size: 18pt;
    font-weight: normal;
    line-height: 1.55;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center;
    margin: 14pt 0 14.5pt;
    padding: 0
    }
.block_40 {
    display: block;
    line-height: 1.2;
    page-break-before: always;
    text-align: justify;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.block_41 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 10pt;
    padding: 0
    }
.block_42 {
    display: block;
    font-size: 9pt;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 10pt;
    padding: 0
    }
.block_43 {
    display: list-item;
    font-size: 18pt;
    line-height: 1.55;
    margin-bottom: 14.5pt;
    margin-left: 0;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center
    }
.block_44 {
    display: block;
    line-height: 1.2;
    text-align: right;
    text-indent: 0;
    margin: 5.65pt 0 0;
    padding: 0
    }
.block_45 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    page-break-before: always;
    text-align: right;
    text-indent: 0;
    margin: 5.65pt 0 0;
    padding: 0
    }
.block_46 {
    display: block;
    font-family: serif;
    font-size: 10pt;
    line-height: 1.2;
    margin: 0 0 7pt;
    padding: 0
    }
.block_47 {
    display: block;
    font-size: 13pt;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 7pt;
    padding: 0
    }
.block_48 {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.block_49 {
    display: block;
    line-height: 1.2;
    page-break-before: always;
    text-align: center;
    text-indent: 0;
    margin: 12.8pt 0 9.9pt;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    padding-left: 0;
    padding-right: 0;
    margin: 0 20pt
    }
.calibre1 {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    float: right;
    height: 183pt;
    line-height: 1.2;
    width: 275pt
    }
.calibre3 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre4 {
    font-style: italic;
    line-height: 1.2
    }
.calibre5 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre6 {
    display: block;
    float: right;
    height: 151pt;
    line-height: 1.2;
    width: 275pt
    }
.calibre7 {
    display: block;
    float: right;
    height: 165pt;
    line-height: 1.2;
    width: 275pt
    }
.calibre8 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    height: 310pt;
    line-height: 1.2;
    width: 230pt
    }
.calibre11 {
    display: block;
    float: right;
    height: 201pt;
    line-height: 1.2;
    width: 201pt
    }
.calibre12 {
    display: block;
    float: right;
    height: 374pt;
    line-height: 1.2;
    width: 275pt
    }
.calibre13 {
    display: block;
    height: 352pt;
    line-height: 1.2;
    margin-left: auto;
    width: 274pt
    }
.list_ {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #000;
    line-height: 1.2
    }
.text_1 {
    color: #0432FF;
    line-height: 1.2;
    text-decoration: underline
    }
.text_2 {
    color: #800000;
    line-height: 1.2;
    text-decoration: underline
    }
.text_3 {
    color: #000;
    line-height: 1.2;
    text-decoration: none
    }
